body {
/*    padding-top: 50px;
    padding-bottom: 20px;
*/}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bg-navy {
  background-color: #03254c;
}

.bg-light-blue {
  background-color: #edf5f9;
}

.border-bottom-1 {
  border-bottom: 1px solid #546e7a !important;
}

.fill {
  min-height: 100%;
  height: 100%;
}

nav .navbar-nav li a {
  color: black !important;
}

footer .navbar {
  padding: 2rem 1rem;
}

footer .navbar ul {
  list-style-type: none;
}

nav .footer-nav li a {
  color: white !important;
  padding: 2px 8px;
}

nav .nav-item {
  margin-left: .1rem;
  margin-right: .1rem;
  text-align: left;
}

.action-link {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
}

.a-white a{
    color: white !important;
    font-size: 1.1rem;
    text-decoration: none;
}

