@{
    ViewBag.Title = "Home Page";
}

<div class="row">
  <div class="col m-auto p-3">
    <img src="~/Content/img/jonathan-borba-oHB7VKdpHQM-unsplash.jpg" class="img-fluid" style="width: 100%; min-width: 250px" alt="Woman holding baby in the air above her head.">
  </div>
  <div class="col">
    <h2 class="hidden d-none">Important Links</h2>
    <div class="container py-5 my-auto">
      <div class="d-flex flex-column justify-content-around">
        <div class="h-25 py-5 border-bottom-1">
          <a href="/Alert">
            <div class="d-flex justify-content-between m">
              <h3 class="d-inline text-dark m-0">Covid 19 Care</h3>
              <div class="align-middle px-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#03a7b2"
                     class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="h-25 py-5 border-bottom-1">
          <a href="/Alerts">
            <div class="d-flex justify-content-between m">
              <h3 class="d-inline text-dark m-0">Patient and Visitor Guides</h3>
              <div class="align-middle px-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#03a7b2"
                     class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div class="h-25 py-5">
          <a href="/Alerts">
            <div class="d-flex justify-content-between m">
              <h3 class="d-inline text-dark m-0">Hospital News</h3>
              <div class="align-middle px-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#03a7b2"
                     class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col">
    <h2>We take care of you.</h2>
    <p>
      Manitouwadge Ontario, located in the heart of the Canadian Shield is 54 km north of the Trans-Canada Highway, and roughly 400 km east of Thunder Bay and 425 km west of Sault Ste. Marie.
    </p><p>
      We have integrated a number of services to create the local Health Hub to meet your needs. In a small community where we know our patients and we don’t mean just clinically, this integration has offered our clients not only convenience, but also a more efficient navigation to healthcare services and improved outcomes. We remain passionate about the services we provide and the creation of the Health Hub continues to facilitate the transition to higher quality care.
    </p>

  </div>
  <div class="col">
    <img src="~/Content/img/doctorAndPatient.png" class="img-fluid" alt="Doctor standing at bedside of patient."/>
  </div>
</div>