@{
    ViewBag.Title = "Home Page";
}

<div class="row">
  <div class="col m-auto">
    <img src="~/Content/img/jonathan-borba-oHB7VKdpHQM-unsplash.jpg" class="img-fluid" style="width: 100%" alt="Woman holding baby in the air above her head.">
  </div>
  <div class="col mt-2">
    <div class="container">
      <div class="d-flex flex-column justify-content-around">
        <div class="h-25 py-4 border-bottom">
          stuff
        </div>
        <div class="h-25 py-4 border-bottom">
          stuff
        </div>
        <div class="h-25 py-4 border-bottom">
          stuff
        </div>
        <div class="h-25 py-4 bor">
          stuff
        </div>

      </div>
    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col">
    <h2>We take care of you.</h2>
    <p>
      Manitouwadge Ontario, located in the heart of the Canadian Shield is 54 km north of the Trans-Canada Highway, and roughly 400 km east of Thunder Bay and 425 km west of Sault Ste. Marie.
    </p><p>
      We have integrated a number of services to create the local Health Hub to meet your needs. In a small community where we know our patients and we don’t mean just clinically, this integration has offered our clients not only convenience, but also a more efficient navigation to healthcare services and improved outcomes. We remain passionate about the services we provide and the creation of the Health Hub continues to facilitate the transition to higher quality care.
    </p>

  </div>
  <div class="col">
    <img src="~/Content/img/doctorAndPatient.png" class="img-fluid" alt="Doctor standing at bedside of patient."/>
  </div>
</div>