@{
    ViewBag.Title = "Home Page";
}

<div class="row">
  <div class="col-md-3">
    Insert image here
  </div>
  <div class="col-md-3">
    Insert arrow links here
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-3">
    We take care of you.
  </div>
  <div class="col-md-3">
    Insert image here
  </div>
</div>